coverage
flake8
invoke
iso8601
pretend
pytest
requests
sphinx
sphinxcontrib-spelling
sphinx_rtd_theme
tox
twine
-e .
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
